:host {
	--sds-c-card-color-background: linear-gradient(180deg, rgb(217, 235, 242) 80%, #bdb6da 100%);
}

.card{
        display: block;
        border: 1px solid #c6d1e6;
        border-radius: .25rem;
        background-color: #f2fbfc;
        font-family: 'Roboto', sans-serif;
        
}